p {
  color: #000066;
  background-color: white;
  text-indent: 0.5in;
  line-height: 1.5;
}
p a {
  font-size: 30px;
  color: black;
  background-color: #ffffcc;
}
.quote {
  color: #000066;
  background-color: white;
  font-size: 11pt;
  font-style: italic;
  line-height: normal;
}
h1 {
  color: #000066;
  background-color: white;
  margin-left: 100px;
  text-align: center;
  text-transform: uppercase;
}
