h2,
h3 {
  color: #000066;
  background-color: white;
  margin-left: 100px;
  text-align: left;
  font-style: italic;
}
h4 {
  color: #000066;
  background-color: #d7d7d7;
  font-size: 12pt;
  font-weight: bold;
  font-style: normal;
}
ul li {
  color: #660000;
  background-color: white;
  list-style-type: disc;
}
ul li li {
  color: #660000;
  background-color: white;
  list-style-type: circle;
}
ol li {
  color: #660000;
  background-color: white;
  list-style-type: upper-roman;
}
